@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

.keep-all {
  word-break: keep-all;
}

.break-word-and-keep-all {
  word-wrap: break-word;
  word-break: keep-all;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner 0.6s linear infinite;
}
